@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
         url('../fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
         url('../fonts/ProximaNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body{outline:none;padding:0px;margin:0px;background-color:#F0F0F0;font-family: 'Proxima Nova Rg';}
:focus{outline:none;}
button:focus{outline:none;}
 select:focus{outline:none;}
 a:focus{outline:none;}
 a{color:#1580c4;}
img{border:none;}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box }
img{max-width:100%;display:block;}
a{text-decoration:none;}
img{margin:0px;display:block;}
ul, ol{margin:0px;padding:0px;list-style:none;}
h1, h2, h3, h4, h5, h6{font-weight:normal;font-family: 'Proxima Nova Rg';}
a:focus{text-decoration:none;}
.main .col-xs-3.col-sm-3.col-md-3.col-lg-3{max-width: 20%;}
.main .col-xs-9.col-sm-9.col-md-9.col-lg-9{max-width: 80%;flex: 0 0 80%;}
.side-bar{float: left;
    background: #1f3567;}
.logo{float: left;
    width: 100%;
    margin: 40px 0 60px;}    
.logo img{margin: auto;}   
.menu{float: left;width: 100%;}
.menu ul{float: left;width: 100%;}
.menu ul li {
    padding: 5px 50px;
    margin-bottom: 10px;
}
.menu ul li:hover{background: #00aeef;width: 102%;
    border-radius: 0 5px 5px 0;    position: relative;
    z-index: 99;}
.menu ul li a{font-size: 18px;text-decoration: unset;
    color: #fff;font-weight: 600;}
.menu ul li img{float: left;margin: 4px 15px;} 
.page-content{float: left;background: #1a181b;width: 100%;padding: 0 25px;}
.header{padding: 20px 0;float: left;width: 100%;background-image: url(../images/line.png);background-repeat: no-repeat;
    background-size: 100% 2px;
    background-position: bottom; }
.title{float: left;margin-top: 15px;}
.title img{float: left;}
.title h2{    float: left;
    font-size: 24px;
    color: #fff;margin: 0;
    margin-left: 10px;}
.profile{float: right;}    
.profile li{float: left;    margin-right: 30px;} 
.bell{position: relative;}   
.profile li label{position: absolute;
    top: 18px;
    right: -9px;
    color: #fff;
    background: #00aeef;
    border-radius: 50px;
    width: 17px;
    font-size: 10px;
    text-align: center;}
.profile .user{background: #343135;
    float: left;
    min-width: 210px;
    line-height: 38px;
    padding: 10px 0;
    border-radius: 5px;
    }  
.profile li a img{margin-top: 20px;
    float: left;}
.profile li:last-child  a img{margin-top: 0;}    
.profile .user img{float: left;margin-right: 15px;}   
.user-box{    margin: auto;
    display: table;}   
.user-box span{color: #fff;}  
.step-1{    float: left;
    width: 100%;border-radius: 10px;
    margin: 30px 0 40px;    background: #1f1d20;
    padding: 20px;}  
.step-content{float: left;
    margin-top: 20px;}
.step-content h2{float: left;
    color: #00aeef;font-weight: bold;
    font-size: 42px;
    margin-right: 50px;}    
.step-content p{float: left;
    color: #5c5c5c;
    font-size: 16px;}    
.step-content p span{color: #fff;
    font-size: 26px;
    font-weight: bold;}
.level{float: right;
    margin-right: 50px;}
.step-1 hr{float: left;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.1);}
.form-step-1 label{color: #fff;float: left;
    margin-right: 5px;
    font-size: 20px;
    letter-spacing: 1px;}
.form-step-1 .text-muted{    float: left;font-size: 16px;
    width: auto;}   
.form-step-1 .form-control{        border-radius: 5px;
    background: #161417;
    border-color: #2c2c2c;
    line-height: 60px;
    padding: 0 15px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;} 
.form-step-1 .form-control:focus{background: #161417;box-shadow: unset;font-size: 18px;color: #fff;
    font-weight: bold;
    letter-spacing: 1px;border-color: unset;}
.form-step-1 select.form-control:not([size]):not([multiple]){height: 60px;}
.all-button{float: right;min-width: 240px;line-height: 60px;color: #fff;text-align: center;background: #00aeef;font-size: 18px;font-weight: bold;letter-spacing: 1px;border-radius: 5px;}
.help{    float: left;
    width: 100%;
    padding: 25px 50px;
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;}
.help hr{float: left;width: 100%;border-top: 1px solid rgba(255, 255, 255, 0.1);}
.help img{float: left;
    margin: 2px 10px 2px 0;}
.help p{float: left;color: #fff;}
.next-btn{    float: left;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 30px;
    margin-top: 30px;}
.file-icon{float: right;
    margin-top: -45px;
    margin-right: 15px;}
@keyframes growProgressBar {
  0%, 33% { --pgPercentage: 0; }
  100% { --pgPercentage: var(--value); }
}

@property --pgPercentage {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}
.level2 div[role="progressbar"] {
  --value:50;
}
.level3 div[role="progressbar"] {
  --value:75;
}
.level4 div[role="progressbar"] {
  --value:100;
}
div[role="progressbar"] {
  --size: 8rem;
  --fg: #00aeef;
  --bg: #0d0c0e;
  --pgPercentage: var(--value);
  animation: growProgressBar 3s 1 forwards;
  width: 90px;/*var(--size);*/
  height:90px;/* var(--size);*/
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: 
    radial-gradient(closest-side, #1f1d20 86%, transparent 0 101%, white 0),
    conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0)
    ;
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 5);
  color: var(--fg);transform: rotateY(
180deg);
}

div[role="progressbar"]::before {
  counter-reset: percentage var(--value);
  content: counter(percentage) '%';    transform: rotateY(
180deg);
}

.level p{float: right;
    color: #5c5c5c;
    font-size: 10px;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    font-weight: bold;
    letter-spacing: 1px;}
.form-step-1 .text-muted2 {
    float: left;
    font-size: 11px;
    width: auto;
    line-height: 30px;
}
.form-step-1 label span{color: #00aeef;}
.back-button{float: left;background: #343135;}
.form-step-3 .form-check{    float: left;
    width: 100%;
    background: #161417;
    padding: 15px 25px;
    margin-bottom: 2rem;
    min-height: 108px;
    border-radius: 5px;
    border: 1px solid #2c2c2c;}
.form-step-3 label span {
    color: #5c5c5c;
    width: 100%;
    float: left;
    font-size: 16px;
}
.form-step-3 .form-check img{    width: auto;
    float: left;
    margin: 20px 20px 0 0;}
.form-step-3 .form-check label {
    margin: auto;
    width: 85%;
}
.over-title {float: left;width: 100%;}
.over-title h2{float: left;width: 100%;color: #ffffff;font-size: 32px;}
.over-title p{float: left;width: 100%;color: #919191;font-size: 16px;margin-bottom: 45px;height: 50px;
    font-weight: bold;}
.module{float: left;width: 100%;background: #292929;
    padding: 25px;
    border-radius: 5px;
    margin-bottom: 15px;}
.module img{float: right;}
.module h2{float: left;font-size: 18px;color: #fff;margin: 0;}
.burnable{background: #684f37;}
.mintable{background: #508b81;}
.tokenomics{background: #d78f33;    margin-bottom: 0;border-radius: 5px 5px 0 0;}
.airdrop{background: #27526b;    margin-bottom: 0;border-radius: 5px 5px 0 0;}
.tokenomics-content{    float: left;
    width: 100%;
    background: #be7921;
    padding: 25px;
    border-radius: 0 0 5px 5px;
    margin-bottom: 20px;}
.tokenomics-content .form-control{    color: #be7921;
    font-size: 16px;
    line-height: 60px;
    padding: 0 20px;}
.tokenomics-content .form-control::placeholder{color: #be7921;}
.airdrop-content{background: #20455a;}
.airdrop-content .form-control::placeholder{color: #20455a;}
.chart{float: left;width: 100%;margin-bottom: 60px;}

  .wrapper {
  width: 300px;
    height: 300px;
    background: #FC5B3F;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    transform: rotate(
17deg);
}
.wrapper .d1 {
      width: 800px;
    height: 800px;
    position: absolute;
    top: -200px;
    left: -200px;
    transform: rotate(
0deg);
}
.wrapper .d1 div {
  width: 800px;
  height: 800px;
}
.wrapper .d1 div:after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    border: solid transparent;
    border-width: 400px;
    border-top-color: #508b81;
    position: relative;
    transform: scaleX(4);
}
.wrapper .d1 div span {
  display: block;
  width: 100%;
  position: absolute;
  left: -1%;
    top: 33%;
  font-size: 18px;
  text-align: center;
  z-index: 100;
  color: #fff;
  transform: rotate(-15deg);
}
.wrapper .d2 {
    width: 755px;
    height: 722px;
    position: absolute;
    top: -200px;
    left: -200px;
    transform: rotate(118.6deg);
}
.wrapper .d2 div {
  width: 800px;
  height: 800px;
}
.wrapper .d2 div:after {
  content: '';
    width: 0;
    height: 0;
    display: block;
    border: solid transparent;
    border-width: 400px;
    border-top-color: #d78f33;
    position: relative;
    transform: scaleX(1);
}
.wrapper .d2 div span {
  display: block;
  width: 100%;
  position: absolute;
  left: 1%;
    top: 39%;
  font-size: 18px;
  text-align: center;
  z-index: 100;
  color: #fff;
  transform: rotate(225deg);
}
.wrapper .d3 {
  width: 730px;
    height: 758px;
    position: absolute;
    top: -200px;
    left: -200px;
    transform: rotate(
208.6deg);
}
.wrapper .d3 div {
  width: 800px;
  height: 800px;
}
.wrapper .d3 div:after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  border: solid transparent;
  border-width: 400px;
  border-top-color: #684f37;
  position: relative;
  transform: scaleX(1);
}
.wrapper .d3 div span {
  display: block;
  width: 100%;
  position: absolute;
 left: 3%;
    top: 38%;
  font-size: 18px;
  text-align: center;
  z-index: 100;
  color: #fff;
  transform: rotate(135deg);
}
.wrapper .d4 {
      width: 676px;
    height: 845px;
  position: absolute;
  top: -200px;
  left: -200px;
  transform: rotate(298.6deg);
}
.wrapper .d4 div {
  width: 800px;
  height: 800px;
}
.wrapper .d4 div:after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  border: solid transparent;
  border-width: 400px;
  border-top-color: #27526b;
  position: relative;
  transform: scaleX(1);
}
.wrapper .d4 div span {
  display: block;
  width: 100%;
  position: absolute;
  left: 63px;
    top: 35%;
  font-size: 18px;
  text-align: center;
  z-index: 100;
  color: #fff;
  transform: rotate(45deg);
}
.attribute{    float: left;margin-bottom: 55px;
    width: 100%;}
.attribute p{    float: left;
    width: 100%;
    font-size: 20px;
    color: #fff;}   
.attribute p span{font-size: 16px;
    float: right;
    color: #5c5c5c;
    line-height: 35px;}     
.confirmation .form-step-1{max-width: 400px;}
.all-button a {
  color: #fff;
}


/* SUCCESS page*/
.attribute{    float: left;margin-bottom: 55px;
  width: 100%;}
.attribute p{    float: left;
  width: 100%;
  font-size: 20px;
  color: #fff;}   
.attribute p span{font-size: 16px;
  float: right;
  color: #5c5c5c;
  line-height: 35px;}     
.confirmation .form-step-1{max-width: 490px;}
.confirmation .step-content p span {
  font-size: 30px;
  }
.confirmation .step-content h2 {
  font-size: 52px !important;
}
.attribute-btn{float: left;width: 100%;}    
.attribute-btn .all-button {
  float: left;
  margin-right: 20px;}
.confirmation .next-btn .all-button {
  margin-right: 18px;
}



/* Leaderboards page */
.leader-menu{float: left;width: 100%;margin-top: 30px;}
.leader-menu ul{float: left;width: 100%;}
.leader-menu ul li{    float: left;
    padding: 0 30px;
    font-size: 16px;line-height: 60px;
    color: #fff;}
.leader-menu ul li:hover{color: #00aeef;background: #343135;border-radius: 5px;}
.listing{float: left;width: 100%;margin: 30px 0 150px;}
.list-box{float: left;
    width: 100%;
    background: #161417;
    border: 1px solid #2c2c2c;margin-bottom: 20px;
    padding: 10px 20px;border-radius: 5px;}
.list-box ul{float: left;width: 100%;display: flex;}
.list-box ul li{float: left;padding: 0 12px;}
.list-content h2{color: #00aeef;
    font-size: 36px;margin-bottom: 0;
    line-height: 80px;width: 45px;}
.list-content img{float: left;}
.list-content h3{color: #fff;
    font-size: 24px;
    line-height: 85px;}
.list-content span{font-size: 15px;
    color: #584964;margin-top: 20px;
    float: left;}
.list-content p{font-size: 15px;
    color: #fff;margin-bottom: 0;}
.list-content a{margin-top: 15px;}

/*popup step-3*/
.modal-dialog{max-width: 1000px;margin-top: 150px}
.modal-content{background: #1f1d20;}
.popup-box{padding: 50px 0 40px;
    float: left;
    width: 100%;}
.popup-box img{margin: auto;margin-bottom: 35px;}
.popup-box h2{float: left;width: 100%;text-align: center;font-size: 42px;color: #fff;}
.popup-box p{float: left;width: 100%;text-align: center;font-size: 24px;color: #5c5c5c;margin-bottom: 35px;letter-spacing: 2px;}
.popup-box a{margin: auto;float: none;display: table;}
.modal-header{border: none;}
.close{background: #00aeef!important;
    opacity: 1;
    border-radius: 50px;
    padding: 5px!important;}
.close span{color: #000;
    font-size: 45px;
    line-height: 20px;
    float: left;}

    .menu ul li.active {
      background: #00aeef;
    width: 102%;
    border-radius: 0 5px 5px 0;
    position: relative;
    z-index: 99;
  }